{% extends 'base.html' %}
{% block content %}
        <div class="lead">This is default home page made with the following ingredients.</div>
		Frontend(Client-Side):
        <ul class="">
			<li>Bootstrap(with <a href="http://bootswatch.com/cyborg/" data-toggle="tooltip" data-placement="top" title="bootswatch.com/cyborg" target="_blank">cyborg theme</a>)</li>
			<li><a href="http://fontawesome.io/" data-toggle="tooltip" data-placement="top" title="fontawesome.io"  target="_blank">Font-Awesome</a> for fonts and icons</li>
			<li><a href="http://jquery.com/" data-toggle="tooltip" data-placement="top" title="jquery.com"  target="_blank">jQuery</a></li>
		</ul>
		Backend(Server-Side):
        <ul class="">
			<li><a href="https://www.python.org/" data-toggle="tooltip" data-placement="top" title="python.org"  target="_blank">Python</a></li>
			<li><a href="https://www.djangoproject.com/" data-toggle="tooltip" data-placement="top" title="djangoproject.com"  target="_blank">Django</a> administration</li>
		</ul>
		Linking Technology:
		<ul class="">
			<li><a href="http://api.jquery.com/jquery.ajax/" target="_blank">Ajax</a> (jQuery wrapped) will be used as we move on</li>
		</ul>
{% endblock %}
